{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.allrecipes.com/thmb/spHNDms9UbUUfPG17t742Twx3Iw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/4Honey-Pie-2000-3dcd599e624941879a3f2e9e01a23830.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Honey Pie</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button href="#" class="btn btn-primary col-md-4 justify-content-center">Play</button>
      <audio controls src="\media\images\music.mp3" type="audio/mp3"></audio>
    </div>
  </div>
{% endblock %}